@use '../../../../../styles/mixins' as *;
@use '../../../../../styles/variables' as *;

.add-cover, .close {
    background-color: unset;
    border-color: unset;
    border: unset;
    border-radius: unset;
    padding: unset;
    &:hover {
        background-color: var(--hover-color, $menu-hover);
        border-radius: 50%;
        box-shadow: none;
    }
    &.has-cover-img-bg {
        background-color: #fff;
        border-radius: 50%;
        &:hover {
            background-color: $menu-hover;
        }
    }
}

.show-more {
    background-color: #091E420F;
    color: #000;
    font-size: 12px;
    font-weight: 500;
    border: 1px solid $black;
    border-radius: 3px;
    padding: 3px 0;
    gap: unset;
    &:hover {
        box-shadow: none;
        background-color: #091E4224;
    }
}

.cover-menu {
    position: absolute;
    @include column;
    width: 304px;
    top: 45px;
    right: -20%;
    background-color: $white;
    border-radius: 10px;
    border: 1px solid $border-color;
    z-index: 2;
    p {
        font-size: 12px;
        font-weight: 600;
    }
    .menu-header {
        display: flex;
        align-items: center;
        padding: 4px 8px;
        p {
            flex: 1;
            font-size: 14px;
            text-align: center;
            padding: 0 32px;
        }
        .close {
            flex-shrink: 0;
            &:hover {
                background-color: $close-menu-hover;
                border-radius: 8px;
                box-shadow: none;
            }
        }
    }
    .options-wrapper {
        @include column;
        padding: 0 12px 12px;
        gap: 8px;
        .option {
            @include column;
            margin-top: 16px;
            gap: 8px;
            .colors {
                display: grid;
                grid-template-columns: repeat(5, 1fr);
                gap: 8px;
                button {
                    width: 50px;
                    height: 32px;
                    padding: unset;
                    background-color: var(--base-color);
                    border-radius: 3px;
                    border: unset;
                    border-color: unset;
                    &:hover {
                        background-color: var(--hover-color);
                        box-shadow: unset;
                    }
                    &.selected {
                        box-shadow: 0 0 0 2px #ffffff, 0 0 0 4px #0c66e4;
                        filter: none;
                    }
                }
            }
            .choosen-img {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                gap: 8px;
                button {
                    width: 88px;
                    height: 48px;
                    border: none;
                    border-radius: 3px;
                    padding: unset;
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: cover;
                    &:hover {
                        filter: saturate(85%) brightness(85%);
                        box-shadow: none;
                        background-color: unset;
                    }
                    &.selected {
                        box-shadow: 0 0 0 2px #ffffff, 0 0 0 4px #0c66e4;
                        filter: none;
                    }
                }
            }
            .loading {
                @include center;
                width: 100%;
            }
            .own-img {
                background-color: rgba(9, 30, 66, 0.0588235294);
                border-radius: 10px;
                padding: 6px 12px;
                margin: 0;
                cursor: pointer;
                &:hover {
                    background-color: rgba(9, 30, 66, 0.1411764706);
                }
                label {
                    display: block;
                    font-size: 14px;
                    font-weight: 600;
                    text-align: center;
                    cursor: pointer;
                }
                input[type="file"] {
                    display: none;
                }
            }
            .tip {
                font-size: 12px;
                font-weight: 400;
            }
        }
    }
}


@media (max-width: 768px) {
    .cover-menu {
        top: 47px;
        right: 5px;
    }
}