@use '../../../../styles/mixins' as *;
@use '../../../../styles/variables' as *;

.main-layout-container {
    position: absolute;
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: block; 
    background-color: $white;
}