@use '../../../styles/mixins' as *;
@use '../../../styles/variables' as *;

.task-form {
    position: relative;
    @include column-align;
    max-height: calc(100dvh - 128px);
    width: 640px;
    background-color: $white;
    border: 1px solid $border-color;
    border-radius: 10px;
    box-shadow: $shadow;
    .header {
        @include space-start;
        width: 100%;
        min-height: 56px;
        padding: 8px 16px;
        border-bottom: 1px solid $border-color;
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
        transition: all 0.3s ease-in-out;
        box-shadow: 0px 0px 8px #091e4229, 0px 0px 1px #091e421f;
        &.has-cover-color {
            min-height: 116px;
        }
        &.has-cover-img {
            min-height: 116px;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }
        .header-options {
            @include center;
            gap: 8px;
            .title {
                @include center;
                height: 32px;
                background-color: $glass;
                font-size: 14px;
                font-weight: 600;
                padding: 6px 12px;
                border-radius: 8px;
                border: 1px solid $glass-border;
                box-shadow: $shadow;
                backdrop-filter: $blur;
                -webkit-backdrop-filter: $blur;
                cursor: pointer;
            }
            .add-cover, .close {
                background-color: unset;
                border-color: unset;
                border: unset;
                border-radius: unset;
                padding: unset;
                &:hover {
                    background-color: var(--hover-color, $menu-hover);
                    border-radius: 50%;
                    box-shadow: none;
                }
                &.has-cover-img-bg {
                    background-color: #fff;
                    border-radius: 50%;
                    &:hover {
                        background-color: $menu-hover;
                    }
                }
            }
            .cover-menu {
                position: absolute;
                @include column;
                width: 304px;
                top: 40px;
                right: -20%;
                background-color: $white;
                border-radius: 10px;
                border: 1px solid $border-color;
                z-index: 2;
                p {
                    font-size: 12px;
                    font-weight: 600;
                }
                .menu-header {
                    display: flex;
                    align-items: center;
                    padding: 4px 8px;
                    p {
                        flex: 1;
                        font-size: 14px;
                        text-align: center;
                        padding: 0 32px;
                    }
                    .close {
                        flex-shrink: 0;
                        &:hover {
                            background-color: $close-menu-hover;
                            border-radius: 8px;
                            box-shadow: none;
                        }
                    }
                }
                .options-wrapper {
                    @include column;
                    padding: 0 12px 12px;
                    gap: 8px;
                    .option {
                        @include column;
                        margin-top: 16px;
                        gap: 8px;
                        .colors {
                            display: grid;
                            grid-template-columns: repeat(5, 1fr);
                            gap: 8px;
                            button {
                                width: 50px;
                                height: 32px;
                                padding: unset;
                                background-color: var(--base-color);
                                border-radius: 3px;
                                border: unset;
                                border-color: unset;
                                &:hover {
                                    background-color: var(--hover-color);
                                    box-shadow: unset;
                                }
                                &.selected {
                                    box-shadow: 0 0 0 2px #ffffff, 0 0 0 4px #0c66e4;
                                    filter: none;
                                }
                            }
                        }
                        .choosen-img {
                            display: grid;
                            grid-template-columns: repeat(3, 1fr);
                            gap: 8px;
                            button {
                                width: 88px;
                                height: 48px;
                                border: none;
                                border-radius: 3px;
                                padding: unset;
                                background-repeat: no-repeat;
                                background-position: center;
                                background-size: cover;
                                &:hover {
                                    filter: saturate(85%) brightness(85%);
                                    box-shadow: none;
                                    background-color: unset;
                                }
                                &.selected {
                                    box-shadow: 0 0 0 2px #ffffff, 0 0 0 4px #0c66e4;
                                    filter: none;
                                }
                            }
                        }
                        .loading {
                            @include center;
                            width: 100%;
                        }
                        .own-img {
                            background-color: $body;
                            padding: 6px 12px;
                            cursor: pointer;
                            label {
                                display: block;
                                width: 100%;
                                font-size: 14px;
                                font-weight: 600;
                                text-align: center;
                                cursor: pointer;
                            }
                            input[type="file"] {
                                display: none;
                            }
                        }
                        .tip {
                            font-size: 12px;
                            font-weight: 400;
                        }
                    }
                }
            }
        }
    }
}

.show-more {
    background-color: #091E420F;
    color: #000;
    font-size: 14px;
    font-weight: 500;
    border: none;
    border-radius: 3px;
    padding: 6px 12px;
    gap: unset;
    &:hover {
        box-shadow: none;
        background-color: #091E4224;
    }
}

section {
    @include column-start;
    width: 100%;
    padding: 20px 40px 16px 20px;
    gap: 12px;
    max-height: 630px;
    .options-container {
        @include start;
        width: 100%;
        padding-left: 40px;
        gap: 15px;
        .label-wrapper, .date-wrapper {
            @include column-start;
            gap: 5px;
            span {
                font-size: 14px;
                font-weight: 600;
            }
            .choosen-labels {
                @include center;
                gap: 4px;
                .label {
                    @include center;
                    min-width: 48px;
                    max-width: 100%;
                    height: 32px;
                    font-size: 14px;
                    font-weight: 500;
                    background-color: var(--base-color);
                    border-radius: 10px;
                    padding: 0 12px;
                    cursor: pointer;
                    &:hover {
                        background-color: var(--hover-color);
                        box-shadow: $shadow-hover;
                    }
                }
            }
            .choosen-date {
                @include center;
                color: #000;
                font-size: 14px;
                background-color: #091E420F;
                border-radius: 10px;
                padding: 6px 12px;
                gap: 4px;
                cursor: pointer;
                &:hover {
                    background-color: #091E4224;
                }
            }
        }
    }
    .description-wrapper {
        @include start;
        width: 100%;
        gap: 12px;
        .img-wrapper {
            @include center;
            width: 28px;
            height: 28px;
        }
        .description {
            @include column;
            flex: 1;
            gap: 12px;
            .headline {
                @include space-between;
                span {
                    font-size: 14px;
                    font-weight: 600;
                }
                button {
                    all: unset;
                    @include center;
                    font-size: 14px;
                    font-weight: 600;
                    background-color: $menu-hover;
                    border-radius: 3px;
                    padding: 6px 12px;
                    cursor: pointer;
                    &:hover {
                        background-color: $dark-hover;
                    }
                }
            }
            .editor-placeholder {
                border: 1px solid $border-color;
                border-radius: 10px;
                padding: 8px 12px 32px;
                cursor: pointer;
                &:hover {
                    background-color: $menu-hover;
                }
                p {
                    font-size: 13px;
                    font-weight: 600;
                }
            }
            .editor-wrapper {
                @include column-align;
                min-width: 272px;
                min-height: 275px;
                border-radius: 3px;
                box-shadow: 0 0 0 1px inset #091e4224;
                .editor-toolbar {
                    position: relative;
                    @include center;
                    width: 100%;
                    padding: 8px;
                    box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.1019607843);
                    gap: 4px;
                    z-index: 1;
                    button {
                        @include center;
                        height: 24px;
                        width: 24px;
                        color: $black;
                        font-size: inherit;
                        padding: unset;
                        border: none;
                        background: none;
                        border-radius: 4px;
                        cursor: pointer;
                        &:hover {
                            background: $menu-hover;
                            box-shadow: none;
                        }
                        img {
                            width: 18px;
                        }
                        &.is-active {
                            color: $hover;
                            background: $menu-hover;
                        }
                    }
                    .dropdown-btn {
                        width: fit-content;
                        border: 1px solid transparent;
                        gap: 0;
                        .icon {
                            @include column;
                        }
                        span {
                            @include center;
                            height: -webkit-fill-available;
                            font-size: 16px;
                            padding: 0 4px;
                            img {
                                width: 14px;
                            }
                            &:hover {
                                border-top-left-radius: 4px;
                                background-color: $menu-hover;
                            }
                        }
                        p {
                            @include center;
                            height: 100%;
                            font-size: 12px;
                            border-left: 1px solid transparent;
                            border-top-right-radius: 4px;
                            border-bottom-right-radius: 4px;
                            padding: 2px;
                            &:hover {
                                background-color: $menu-hover;
                            }
                        }
                        &:hover {
                            background-color: unset;
                            border: 1px solid $dark-hover;
                            cursor: default;
                            p {
                                border-left: 1px solid $dark-hover;
                            }
                        }
                    }
                    .dropdown-case, .dropdown-heading {
                        left: 30% !important;
                        gap: unset !important;
                        button {
                            all: unset;
                            font-size: 14px;
                            padding: 6px 12px;
                            border-radius: 3px;
                            cursor: pointer;
                            &:hover {
                                background-color: $menu-hover;
                            }
                        }
                    }
                    .dropdown-heading {
                        left: 22% !important;
                        button:nth-child(1) {
                            font-size: 14px; // Normal text
                        }
                        button:nth-child(2) {
                            font-size: 22px;
                            font-weight: bold;
                        }
                        button:nth-child(3) {
                            font-size: 20px;
                            font-weight: bold;
                        }
                        button:nth-child(4) {
                            font-size: 18px;
                            font-weight: bold;
                        }
                        button:nth-child(5) {
                            font-size: 16px;
                            font-weight: 600;
                        }
                        button:nth-child(6) {
                            font-size: 14px;
                            font-weight: 500;
                        }
                        button:nth-child(7) {
                            font-size: 13px;
                            font-weight: 400;
                            color: #666;
                        }
                    }
                    .dropdown-highlight {
                        left: 60% !important;
                        gap: 5px !important;
                        .highlight-row {
                        grid-template-columns: repeat(5, 1fr) !important;
                        }
                        .deselect-wrapper {
                            @include center-start;
                            width: 100%;
                            padding: 4px 8px;
                            border-radius: 3px;
                            margin-top: 5px;
                            cursor: pointer;
                            &:hover {
                                background-color: $menu-hover;
                            }
                            .choosen-highlight {
                                height: 22px;
                                width: 22px;
                                border: 2px solid #f29436;
                            }
                        }
                    }
                    .dropdown-content {
                        position: absolute;
                        @include column;
                        top: 35px;
                        left: 55%;
                        background-color: #FFF;
                        border-radius: 10px;
                        border: 1px solid $border-color;
                        padding: 10px;
                        gap: 16px;
                        p {
                            font-size: 12px;
                            font-weight: 600;
                            padding-left: 10px;
                        }
                        .color-wrapper {
                            @include column;
                            gap: 5px;
                        }
                        .color-row, .highlight-row {
                            display: grid;
                            grid-template-columns: repeat(10, 1fr);
                            column-gap: 8px;
                            .color-option {
                                height: 22px;
                                width: 22px;
                                border: 1px solid #0000001a;
                                box-shadow: 0 0 0 1.5px transparent, 0 0 0 3px transparent;
                                cursor: pointer;
                                &:hover {
                                    border: 2px solid #f29436;
                                }
                                &.selected {
                                    border: 2px solid #f29436;
                                }
                            }
                        }
                    }
                }
                .editor-content {
                    position: relative;
                    flex: 2;
                    width: 100%;
                    border: none;
                    border-radius: 6px;
                    overflow-y: auto;
                    overflow-x: hidden;
                }
            }
        }
    }
    .btn-wrapper {
        @include center-start;
        width: 100%;
        gap: 12px;
        button {
            font-size: 16px;
            padding: 6px 12px;
        }
    }
}

.option-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 8px 12px;
    gap: 8px;
}

.option-section {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding-left: 40px;
    gap: 8px;
}

.description-preview {
    @include column-start;
    min-width: 272px;
    max-height: 350px;
    border-radius: 3px;
    padding: 8px 12px 0px;
    transition: max-height 0.3s ease-in-out;
    overflow: hidden;
    gap: 4px;
    cursor: pointer;
    &.fade-out-bottom {
        mask-image: linear-gradient(to bottom, black 0, black calc(100% - 100px), transparent 100%);
    }
    &.expanded {
        max-height: 100%;
    }
}

:host ::ng-deep .ProseMirror {
    all: unset;
    position: absolute;
    @include column-start-center;
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    font-family: inherit;
    padding: 20px;
    white-space: pre-wrap;
    word-wrap: break-word;
    cursor: text;
    span, p, ul , ol, li {
        font-size: 16px;
        width: 100%;
    }
    h1, h2, h3, h4, h5, h6 {
        width: 100%;
        text-align: unset;
        span {
            font-size: unset;
        }
    }
    img {
        width: auto;
        height: 100%;
    }
    p {
        margin-top: 0.75rem;
    }
    li p {
        margin-top: unset;
    }
    .image-wrapper {
        @include center;
        width: 80%;
        margin: 0 auto;
        padding: 8px;
        border-radius: 3px;
        &.ProseMirror-selectednode {
            box-shadow: 0 0 0 2px #ffffff, 0 0 0 4px #0c66e4;
        }
        img {
            max-width: 100%;
            height: auto;
            border-radius: 3px;
            cursor: pointer;
        }
    }
}

:host ::ng-deep .description-preview {
    p, ul , ol, li {
        width: 100%;
    }
    img {
        width: 95%;
    }
    span {
        font-size: unset;
    }
    p {
        font-size: 16px;
        height: 24px;
        margin-top: 0.75rem;
    }
    li p {
        margin-top: unset;
    }
}

:host ::ng-deep .description-preview mark {
    span {
        font-size: 16px;
    }
    h1, h2, h3, h4, h5, h6 {
        span {
            font-size: unset;
        }
    }
}