<h1>Add Task</h1>
<div class="task-form">
    <div class="header"
        [ngClass]="{
            'has-cover-color': !!selectedColor,
            'has-cover-img': !!selectedCoverImageForHeader
        }"
        [ngStyle]="{
            'background-image': selectedCoverImageForHeader ? 'url(' + selectedCoverImageForHeader + ')' : 'none',
            'background-color': !selectedCoverImageForHeader && selectedColor ? selectedColor.base : 'transparent'
        }"
        >
        <div class="title">Test</div>
        <div class="header-options">
            <button class="add-cover"
            #toggleButton 
            type="button"
            (click)="toggleMenu()"
            [ngClass]="{ 'has-cover-img-bg': selectedCoverImageForHeader }"
            [style.--hover-color]="selectedColor?.hover">
                <img src="assets/images/background-img.png" alt="">
            </button>
            <button class="close"
            type="button"
            [ngClass]="{ 'has-cover-img-bg': selectedCoverImageForHeader }"
            [style.--hover-color]="selectedColor?.hover">
                <img src="assets/images/close.png" alt="">
            </button>
            <div class="cover-menu"
            #coverMenuContainer
            *ngIf="isMenuOpen"
            [@fadeInOut]>
                <div class="menu-header">
                    <p>Cover picture</p>
                    <button 
                    type="button" 
                    class="close" 
                    (click)="closeMenu()">
                        <img src="assets/images/close.png" alt="">
                    </button>
                </div>
                <div class="options-wrapper">
                    <div class="option">
                        <p>Colors</p>
                        <div class="colors">
                            <button *ngFor="let color of colors; trackBy: trackByColor"
                                (click)="selectColor(color)"
                                [ngClass]="{'selected': color === selectedColor}"
                                [style.--base-color]="color.base"
                                [style.--hover-color]="color.hover">
                            </button>
                        </div>
                    </div>
                    <div class="option">
                        <p>Attachments</p>
                        <div class="choosen-img" 
                            *ngIf="selectedCoverImages.length > 0">
                            <button class="image-button"
                                *ngFor="let image of displayedCoverImages" 
                                [ngClass]="{'selected': selectedCoverImageForHeader === image.dataUrl}"
                                [style.backgroundImage]="'url(' + image.dataUrl + ')'"
                                (click)="selectCoverImage(image)">
                            </button>
                        </div>
                        <div class="loading">
                            <div class="spinner-border"
                                *ngIf="isImageLoading" 
                                role="status">
                            </div>
                        </div>
                        <button class="show-more"
                            *ngIf="selectedCoverImages.length > imageDisplayLimit"
                            (click)="toggleImageDisplay()"
                            type="button">
                            {{ showAllImages ? 'Show Less' : 'Show More' }}
                        </button>
                        <div class="own-img"
                        *ngIf="!isImageLoading">
                            <label  class="upload-label" 
                            for="coverUpload">
                                Upload Cover Image
                                <input
                                    type="file"
                                    id="coverUpload"
                                    accept="image/*"
                                    (change)="onCoverImageSelected($event)"
                                    hidden
                                />
                            </label>
                        </div>
                        <p class="tip">
                            Tip: To upload a picture, drag it onto the card.
                        </p>
                    </div>
                    <div class="option">
                        <p>Photos from Join</p>
                        <div class="choosen-img">
                            <button class="image-button"
                                *ngFor="let img of predefinedImages"
                                [ngClass]="{'selected': selectedCoverImageForHeader === img.url}"
                                [style.backgroundImage]="'url(' + img.url + ')'"
                                (click)="selectPredefinedImage(img.url)">
                            </button>
                        </div>
                        <p class="tip">
                            By using images from Join, you agree to our 
                            <a [routerLink]="'/privacy-policy'">Privacy Policy</a> and 
                            <a [routerLink]="'/legal-notice'">Legal Notice</a>.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section>
        <div class="option-section">
            <app-dropdown
                [title]="labelTitle"
                [showBackButton]="labelSelector?.viewMode === 'edit' || labelSelector?.viewMode === 'create'"
                (backClicked)="labelSelector?.exitEdit()"
                iconSrc="assets/images/label.png"
                iconActiveSrc="assets/images/label-active.png"
                (closed)="labelSelector?.exitEdit()">
                <div class="option-content">
                    <app-label-selector
                        [(selectedLabels)]="selectedLabels"
                        #labelSelector>
                    </app-label-selector>
                </div>
            </app-dropdown>
            <app-dropdown
                title="Date"
                iconSrc="assets/images/date.png"
                iconActiveSrc="assets/images/date-active.png">
            </app-dropdown>
            <app-dropdown
                title="Checklist"
                iconSrc="assets/images/checklist.png"
                iconActiveSrc="assets/images/checklist-active.png">
            </app-dropdown>
            <app-dropdown
                title="Members"
                iconSrc="assets/images/add-person.png"
                iconActiveSrc="assets/images/add-person-active.png">
            </app-dropdown>
        </div>
        <div class="label-wrapper"
        *ngIf="selectedLabels && selectedLabels.length > 0">
            <span>Labels</span>
            <div class="choosen-labels">
                <span class="label"
                *ngFor="let labelName of selectedLabels"
                [ngStyle]="{ 'background-color': getLabelByName(labelName)?.color }">
                    {{ labelName }}
                </span>
            </div>
        </div>
        <div class="description-wrapper">
            <div class="img-wrapper">
                <img src="assets/images/description.png" alt="Description">
            </div>
            <div class="description">
                <div class="headline">
                    <span>Description</span>
                    <button
                        *ngIf="savedDescription && !editorVisible"
                        (click)="editDescription()">
                        Edit
                    </button>
                </div>
                <div class="editor-placeholder" 
                (click)="showEditor()" 
                *ngIf="!editorVisible && !savedDescription">
                    <p>Add detailed description ...</p>
                </div>
                <div class="editor-wrapper" 
                *ngIf="editorVisible" 
                [class.focused]="isEditorFocused">
                    <div class="editor-toolbar"
                    *ngIf="editor">
                        <button class="dropdown-btn">
                            <span>H1</span>
                            <p (click)="headingDropdown()">&#709;</p>
                        </button>
                        <div class="dropdown-content dropdown-heading"
                        *ngIf="isheadingDropdownOpen">
                            <button (click)="setHeading(null)">Normal text</button>
                            <button (click)="setHeading(1)">Heading 1</button>
                            <button (click)="setHeading(2)">Heading 2</button>
                            <button (click)="setHeading(3)">Heading 3</button>
                            <button (click)="setHeading(4)">Heading 4</button>
                            <button (click)="setHeading(5)">Heading 5</button>
                            <button (click)="setHeading(6)">Heading 6</button>
                        </div>
                        <button class="dropdown-btn">
                            <span>Aa</span>
                            <p (click)="upperLowerCaseDropwdown()">&#709;</p>
                        </button>
                        <div class="dropdown-content dropdown-case"
                        *ngIf="isupperLowerCaseOpen">
                            <button (click)="capitalizeSentence()">Capitalize first letter of sentence</button>
                            <button (click)="lowercase()">lowercase</button>
                            <button (click)="uppercase()">UPPERCASE</button>
                            <button (click)="capitalizeEachWord()">Capitalize Each Word</button>
                            <button (click)="toggleCase()">Toggle Case</button>
                        </div>
                        <button 
                        (click)="editor.chain().focus().toggleBold().run()" [class.is-active]="editor.isActive('bold')">
                            B
                        </button>
                        <button 
                        (click)="editor.chain().focus().toggleItalic().run()" [class.is-active]="editor.isActive('italic')">
                            <i>I</i>
                        </button>
                        <button 
                        (click)="editor.chain().focus().toggleUnderline().run()" [class.is-active]="editor.isActive('underline')">
                            <u>U</u>
                        </button>
                        <button 
                        (click)="editor.chain().focus().toggleStrike().run()" [class.is-active]="editor.isActive('strike')">
                            <s>ab</s>
                        </button>
                        <button class="dropdown-btn">
                            <span [ngStyle]="{ 'border-bottom': '3px solid ' + (selectedFontColorHex || 'black') }">
                            A
                            </span>
                            <p (click)="fontColorDropdown()">&#709;</p>
                        </button>
                        <div class="dropdown-content"
                        *ngIf="isFontDropdownOpen">
                            <div class="color-wrapper">
                                <p>Design colors</p>
                                <div class="color-row">
                                    <div class="color-option"
                                    *ngFor="let color of designColors"
                                    [style.backgroundColor]="color.hex"
                                    (click)="onFontColorSelect(color.hex)"
                                    [class.selected]="color.hex === selectedFontColorHex"
                                    title="{{ color.name }}">
                                    </div>
                                </div>
                            </div>
                            <div class="color-row">
                                <div class="color-option"
                                *ngFor="let color of primaryColors"
                                [style.backgroundColor]="color.hex"
                                (click)="onFontColorSelect(color.hex)"
                                [class.selected]="color.hex === selectedFontColorHex"
                                title="{{ color.name }}">
                                </div>
                            </div>
                            <div class="color-wrapper">
                                <p>Standard colors</p>
                                <div class="color-row">
                                    <div class="color-option"
                                    *ngFor="let color of standardColors"
                                    [style.backgroundColor]="color.hex"
                                    (click)="onFontColorSelect(color.hex)"
                                    [class.selected]="color.hex === selectedFontColorHex"
                                    title="{{ color.name }}">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button class="dropdown-btn">
                            <span
                                [ngStyle]="{ 'border-bottom': '3px solid ' + (selectedHighlightHex || '#000') }">
                                <img src="assets/images/edit.png" alt="">
                            </span>
                            <p (click)="fontHighlighterDropdown()">&#709;</p>
                        </button>
                        <div class="dropdown-content dropdown-highlight"
                        *ngIf="isFontHighlighterOpen">
                            <p>Highlight Text</p>
                            <div class="highlight-row">
                                <div class="color-option"
                                *ngFor="let color of highlightColors"
                                [style.backgroundColor]="color.hex"
                                (click)="onFontHighlightSelect(color.hex)"
                                [class.selected]="color.hex === selectedHighlightHex"
                                title="{{ color.name }}">
                                </div>
                            </div>
                            <div class="deselect-wrapper"
                                *ngIf="selectedHighlightHex"
                                (click)="clearHighlight()">
                                <div class="choosen-highlight"
                                [style.backgroundColor]="selectedHighlightHex || '#ffffff'">
                                </div>
                                <p>End highlighting</p>
                            </div>
                        </div>
                        <button 
                        (click)="editor.chain().focus().toggleBulletList().run()" [class.is-active]="editor.isActive('bulletList')">
                            <img [src]="editor.isActive('bulletList') ? 'assets/images/list-hover.png' : 'assets/images/list.png'" alt="Bullet List">
                        </button>
                        <button 
                        (click)="editor.chain().focus().toggleOrderedList().run()" [class.is-active]="editor.isActive('orderedList')">
                            <img [src]="editor.isActive('orderedList') ? 'assets/images/number-list-hover.png' : 'assets/images/number-list.png'" alt="Number List">
                        </button>
                        <label class="editor-attachment">
                            <input 
                            type="file" 
                            id="editorFileUpload" 
                            hidden 
                            accept="image/*,.pdf,.docx" 
                            (change)="onAttachmentSelected($event)">
                            <button type="button" (click)="triggerFileUpload()">
                                <img [src]="editor.isActive('image') ? 'assets/images/attach-hover.png' : 'assets/images/attach.png'" alt="Attach">
                            </button>
                        </label>
                    </div>
                    <div class="editor-content" #editorContainer></div>
                </div>
                <div class="description-preview"
                    #descriptionPreview
                    *ngIf="savedDescription && !editorVisible"
                    [ngClass]="{
                        'fade-out-bottom': isDescriptionOverflowing && !isDescriptionExpanded,
                        'expanded': isDescriptionExpanded
                    }"
                    [innerHTML]="safeSavedDescription"
                    (click)="editDescription()">
                </div>
                <button class="show-more"
                    *ngIf="!editorVisible && (isDescriptionOverflowing || isDescriptionExpanded)"
                    (click)="toggleDescriptionExpansion($event)">
                    {{ isDescriptionExpanded ? 'Show Less' : 'Show More' }}
                </button>
                <div class="btn-wrapper"
                *ngIf="editorVisible">
                    <button
                    (click)="saveDescription()">
                        Save
                        <div class="img">
                            <img src="assets/images/check-hover.png" alt="Submit">
                        </div>
                    </button>
                    <button class="secondary-btn"
                    (click)="cancelDescription()">
                        Cancel
                        <div class="img-wrapper">
                            <img class="icon-default" src="assets/images/close.png" alt="Cancel">
                            <img class="icon-hover" src="assets/images/close-hover.png" alt="Cancel Hover">
                        </div>
                    </button>
                </div>
            </div>
        </div>
        <!-- <div class="btn-wrapper">
            <button
            (click)="submitTask()">
                Save
                <div class="img">
                    <img src="assets/images/check-hover.png" alt="Submit">
                </div>
            </button>
            <button class="secondary-btn"
            (click)="cancelDescription()">
                Cancel
                <div class="img-wrapper">
                    <img class="icon-default" src="assets/images/close.png" alt="Cancel">
                    <img class="icon-hover" src="assets/images/close-hover.png" alt="Cancel Hover">
                </div>
            </button>
        </div> -->
    </section>
</div>