<div class="task-form">
    <app-task-header
        [selectedColor]="selectedColor"
        [selectedCoverImageForHeader]="selectedCoverImageForHeader"
        (menuToggle)="toggleMenu()">
    </app-task-header>
    <app-cover-menu
        *ngIf="isMenuOpen"
        [colors]="colors"
        [selectedColor]="selectedColor"
        [selectedCoverImages]="selectedCoverImages"
        [displayedCoverImages]="displayedCoverImages"
        [selectedCoverImageForHeader]="selectedCoverImageForHeader"
        [isImageLoading]="isImageLoading"
        [imageDisplayLimit]="imageDisplayLimit"
        [showAllImages]="showAllImages"
        [predefinedImages]="predefinedImages"
        (closeMenuRequest)="closeMenu()"
        (colorSelected)="selectColor($event)"
        (coverImageSelected)="selectCoverImage($event)"
        (imageUploaded)="onCoverImageSelected($event)"
        (toggleDisplayRequest)="toggleImageDisplay()"
        (predefinedImageSelected)="selectPredefinedImage($event)">
    </app-cover-menu>
    <section>
        <app-task-toolbar
            [(selectedLabels)]="selectedLabels"
            (availableLabelsChange)="onAvailableLabelsChange($event)"
            (dateSelected)="onDatesReceived($event)"
            (dateCleared)="onDatesCleared()"
            (checklistCreated)="addChecklist($event)"
            (selectedMembersChange)="selectedMembers = $event">
        </app-task-toolbar>
        <app-task-selections
            *ngIf="(selectedLabels && selectedLabels.length > 0) || selectedStartDate || selectedEndDate || (selectedMembers && selectedMembers.length > 0)"
            [selectedLabels]="selectedLabels"
            [availableLabels]="availableLabels"
            [startDate]="selectedStartDate"
            [endDate]="selectedEndDate"
            [selectedMembers]="selectedMembers"
            (labelAreaClicked)="onLabelSelectionClicked()"
            (dateAreaClicked)="onDateSelectionClicked()"
            (memberAreaClicked)="onMemberSelectionClicked()">
        </app-task-selections>
        <app-task-description
            [initialDescription]="savedDescription"
            (descriptionSaved)="saveDescription($event)">
        </app-task-description>
        <ng-container *ngIf="checklists.length > 0">
            <app-task-checklist
                *ngFor="let checklist of checklists; let i = index"
                (checklistDeleted)="removeChecklist(i)"
                [title]="checklist.title">
            </app-task-checklist>
        </ng-container>
    </section>
</div>

<!-- <div class="btn-wrapper">
            <button
            (click)="submitTask()">
                Save
                <div class="img">
                    <img src="assets/images/check-hover.png" alt="Submit">
                </div>
            </button>
            <button class="secondary-btn"
            (click)="cancelDescription()">
                Cancel
                <div class="img-wrapper">
                    <img class="icon-default" src="assets/images/close.png" alt="Cancel">
                    <img class="icon-hover" src="assets/images/close-hover.png" alt="Cancel Hover">
                </div>
            </button>
        </div> -->