@use '../../../../styles/mixins' as *;
@use '../../../../styles/variables' as *;

.contact {
    @include center-start;
    width: 100%;
    min-width: 0;
    border-radius: 10px;
    padding: 15px 24px;
    gap: 35px;
    .avatar {
        width: 42px;
        height: 42px;
        font-size: 12px;
        border: 2px solid $white;
        flex-shrink: 0;
        overflow: hidden;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .info-wrapper {
        @include column;
        width: 100%;
        gap: 5px;
        overflow: hidden;
        a {
            display: block;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            &:hover {
            border: none;
            }
        }
    }
    &:hover {
        background: rgba(255, 255, 255, 0.2);
        backdrop-filter: blur(12px);
    }
    &.active {
        background-color: $secondary;
        color: $white;
        /* &:hover {
            background: none;
            background-color: $secondary;
        } */
    }
}

@media (max-width: 1024px) {
    .contact {
        width: 100%;
    }
} 