<div class="contact" 
[class.active]="isActive" 
(click)="contactClicked.emit()">
  <div class="avatar" 
  [ngStyle]="!contact.profilePicture ? { 'background-color': contact.color } : {}">
    <img 
    *ngIf="contact.profilePicture" 
    [src]="'https://join-backend-flix.vercel.app/' + contact.profilePicture" 
    alt="{{ contact.firstName }} {{ contact.lastName }}">
    <ng-container 
    *ngIf="!contact.profilePicture">
      {{ getInitials(contact.firstName, contact.lastName) }}
    </ng-container>
  </div>
  <div class="info-wrapper">
    <span class="contact-name">
      {{ contact.firstName }} {{ contact.lastName }}
    </span>
    <a class="contact-mail">
      {{ contact.email }}
    </a>
  </div>
</div>