<app-auth-layout [showSignupLink]="false">
    <app-auth-card [showBack]="false" [title]="'Reset password'">
        <app-auth-form
        [formType]="'reset'"
        [form]="form"
        [formFields]="formFields"
        [formHelper]="formHelper"
        [submitted]="submitted"
        [blurredFields]="blurredFields"
        [ignoreNextBlur]="ignoreNextBlur"
        [submitButtonText]="'Log in'"
        (formSubmit)="onSubmit()"
        >
        </app-auth-form>
    </app-auth-card>
</app-auth-layout>