@use '../../../../styles/mixins' as *;
@use '../../../../styles/variables' as *;

.options-container {
    @include start;
    flex-wrap: wrap;
    width: 100%;
    padding-left: 26px;
    column-gap: 25px;
    row-gap: 8px;
}

@media (max-width: 768px) {
    .options-container {
        padding: 0;
    }
}