<img class="logo"
src="assets/images/logo-dark.png" 
alt="Logo">
<div class="singup-wrapper">
    <span>Not a Join user?</span>
    <button (click)="goToSignup()" class="btn-signup">Sign up</button>
</div>
<div class="card">
    <div class="headline">
        <h1>Log in</h1>
        <div class="underline"></div>
    </div>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div *ngFor="let field of formFields" class="form-wrapper">
            <div class="form-group">
                <input
                    #passwordInput
                    [type]="getInputType(field)"
                    [placeholder]="field.placeholder"
                    [formControlName]="getControlName(field.placeholder)"
                    (blur)="onBlur(getControlName(field.placeholder))"
                    [ngClass]="{
                        'has-error': hasError(getControlName(field.placeholder))
                    }"
                />
                <div
                    class="form-icon"
                    (mousedown)="$event.preventDefault()"
                    (click)="togglePasswordVisibility(getControlName(field.placeholder))"
                    [ngStyle]="{
                        cursor: isToggleablePasswordField(field) ? 'pointer' : 'default'
                    }"
                >
                    <img
                        [src]="'assets/images/' + getFormIconSrc(field)"
                        [alt]="field.alt"
                    />
                </div>
            </div>
            <div
                class="errortext"
                    *ngIf="getErrorMessage(getControlName(field.placeholder))"
                    [class.visible]="getErrorMessage(getControlName(field.placeholder))"
            >
            <p class="error">
                {{ getErrorMessage(getControlName(field.placeholder)) }}
            </p>
        </div>
        </div>
        <div class="forgot-wrapper" *ngIf="loginFailed">
            <a (click)="goToForgotPassword()">Forgotten your password?</a>
        </div>
        <div class="auth-wrapper">
            <div class="divider">
                OR
            </div>
            <button type="button" (click)="loginWithGoogle()" class="auth-btn">
                <div class="img-wrapper">
                    <img src="assets/images/google.png" alt="OAuth">
                </div>
                Sign in with Google
            </button>
        </div>
        <div class="pricacy-wrapper remember-wrapper">
            <div class="form-privacy">
                <div class="checkbox-icon">
                    <input
                        class="custom-checkbox"
                        type="checkbox"
                        formControlName="remember"
                    />
                </div>
                <span>
                    Remember me
                </span>
            </div>
        </div>
        <div class="button-wrapper">
            <button type="submit">Log in</button>
            <button class="secondary-btn">Guest Log in</button>
        </div>
    </form>
</div>
<footer>
    <a href="">Privacy Policy</a>
    <a href="">Legal notice</a>
</footer>