@use '../../../styles/mixins' as *;
@use '../../../styles/_variables' as *;

footer {
    position: absolute;
    @include space-between;
    height: 35px;
    width: 246px;
    bottom: 50px;
    a {
        @include center;
        color: $border-color;
        padding: 8px;
        &:hover {
            color: $hover;
            font-weight: 700;
            border: 0;
        }
    }
}

.logo {
    position: absolute;
    width: 100px;
    height: 120px;
    top: 80px;
    left: 77px;
}

.singup-wrapper {
    position: absolute;
    @include center;
    top: 65px;
    right: 50px;
    gap: 35px;
    button {
        font-size: 16px;
    }
    a {
        &:hover {
            border-bottom: 0px;
        }
    }
}

@media (max-width: 1024px) {
    .logo {
        width: 64px;
        height: 78px;
        top: 20px;
        left: 38px;
    }
    .card {
        padding: 25px 32px;
        form {
            .remember-wrapper {
                margin-bottom: 24px;
            }
            .button-wrapper {
                @include column-center;
                button {
                    margin-top: 0;
                }
            }
            .auth-wrapper {
                margin-bottom: 0;
                .auth-btn {
                    width: 100%;
                    img {
                        width: 25px;
                        height: 25px;
                    }
                }
            }
        }
    }
    .singup-wrapper {
        top: unset;
        right: unset;
        bottom: 65px;
        button {
            width: 104px;
            padding: 15px 16px;
        }
    }
    .form-privacy span {
        font-size: 16px;
    }
    .underline {
        width: 88px !important;
    }
    button {
        width: 180px;
        height: 51px;
        padding: 4px;
    }
    footer {
        bottom: 20px;
    }
    input {
        font-size: 15px;
    }
}

@media (max-width: 768px) and (max-width: 1024px) { 
    .card {
        width: 85%;
        padding: 25px 32px;
    }
    .singup-wrapper span {
        font-size: 16px;
    }
    .headline span {
        font-size: 16px;
    }
}

@media (max-width: 370px) {
    .headline h1 {
        font-size: 35px;
    }
}