<img class="logo"
src="assets/images/logo-dark.png" 
alt="Logo">
<div class="card">
    <div class="headline">
        <h1>Reset password</h1>
        <div class="underline"></div>
    </div>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div *ngFor="let field of formFields" class="form-wrapper">
            <div class="form-group">
                <input
                    #passwordInput
                    [type]="getInputType(field)"
                    [placeholder]="field.placeholder"
                    [formControlName]="getControlName(field.placeholder)"
                    (blur)="onBlur(getControlName(field.placeholder))"
                    [ngClass]="{
                    'has-error': getControlName(field.placeholder) === 'confirmPassword'
                        ? hasConfirmPasswordError()
                        : hasError(getControlName(field.placeholder))
                    }"
                />
                <div
                    class="form-icon"
                    (mousedown)="$event.preventDefault()"
                    (click)="togglePasswordVisibility(getControlName(field.placeholder))"
                    [ngStyle]="{
                        cursor: isToggleablePasswordField(field) ? 'pointer' : 'default'
                    }"
                >
                    <img
                        [src]="'assets/images/' + getFormIconSrc(field)"
                        [alt]="field.alt"
                    />
                </div>
            </div>
            <div
                class="errortext"
                    *ngIf="getErrorMessage(getControlName(field.placeholder))"
                    [class.visible]="getErrorMessage(getControlName(field.placeholder))"
            >
            <p class="error">
                {{ getErrorMessage(getControlName(field.placeholder)) }}
            </p>
        </div>
        </div>
        <div class="button-wrapper">
            <button type="submit">Log in</button>
        </div>
    </form>
</div>
<footer>
    <a href="">Privacy Policy</a>
    <a href="">Legal notice</a>
</footer>