@mixin center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin align-center {
    display: flex;
    align-items: center;
}

@mixin column-center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@mixin column-align {
    display: flex;
    align-items: center;
    flex-direction: column;
}

@mixin column-space {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

@mixin column {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

@mixin space-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin space-evenly {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

@mixin start {
    display: flex;
    justify-content: start;
    align-items: start;
}

@mixin center-start {
    display: flex;
    justify-content: start;
    align-items: center;
}