<app-auth-layout [showSignupLink]="false">
    <app-auth-card [showBack]="true" [title]="'Sign up'">
        <app-auth-form
        [formType]="'signup'"
        [form]="form"
        [formFields]="formFields"
        [formHelper]="formHelper"
        [submitted]="submitted"
        [blurredFields]="blurredFields"
        [passwordVisibility]="passwordVisibility"
        [ignoreNextBlur]="ignoreNextBlur"
        (formSubmit)="onSubmit()"
        ></app-auth-form>
        <app-success-popup
        [visible]="isSignedUp"
        message="You Signed Up successfully">
        </app-success-popup>
    </app-auth-card>
</app-auth-layout>