<div class="header"
    [ngClass]="{
        'has-cover-color': !!selectedColor,
        'has-cover-img': !!selectedCoverImageForHeader
    }"
    [ngStyle]="{
        'background-image': selectedCoverImageForHeader ? 'url(' + selectedCoverImageForHeader + ')' : 'none',
        'background-color': !selectedCoverImageForHeader && selectedColor ? selectedColor.base : 'transparent'
    }">
    <div class="title">Test</div>
    <div class="header-options">
        <button class="add-cover"
            type="button"
            (click)="onToggleMenu()"
            [ngClass]="{ 'has-cover-img-bg': selectedCoverImageForHeader }"
            [style.--hover-color]="selectedColor?.hover">
            <img src="assets/images/background-img.png" alt="Add Cover">
        </button>
        <button class="close"
            type="button"
            (click)="onCloseTask()"
            [ngClass]="{ 'has-cover-img-bg': selectedCoverImageForHeader }"
            [style.--hover-color]="selectedColor?.hover">
            <img src="assets/images/close.png" alt="Close Task">
        </button>
        <ng-content></ng-content>
    </div>
</div>