@use '../../../../styles/mixins' as *;
@use '../../../../styles/variables' as *;

.user-section {
    @include center;
    color: $hover;
    font-weight: 700;
    font-size: 18px;
    gap: 16px;
    .user-avatar {
        @include center;
        height: 56px;
        width: 56px;
        border: 3px solid $primary;
        border-radius: 50%;
        overflow: hidden;
        cursor: pointer;
        &:hover {
            background-color: $avatar-hover;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            display: block;
        }
    }
}

.dropdown-menu {
    position: absolute;
    @include column;
    background-color: $primary;
    color: $text;
    top: 105px;
    right: 40px;
    padding: 10px;
    box-shadow: $shadow;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    transition: all 0.3s ease;
    z-index: 5;
    .hide {
        display: none;
    }
    a , button {
        @include align-center;
        height: 46px;
        color: $text;
        padding: 8px 16px;
        cursor: pointer;
        &:hover {
            border: none;
            background-color: $primary-hover;
        }
    }
}