<header>
    <span>Kanban Project Management Tool</span>
    <div class="user-section" >
        <button class="info-btn">
            <img src="./assets/images/help.png" alt="">
        </button>
        <div class="user-avatar" (click)="toggleDropdown()">SM</div>
    </div>
    <div class="dropdown-menu" *ngIf="showDropdown" @dropdownAnimation>
        <a href="" class="hide">Help</a>
        <a href="">Legal Notice</a>
        <a href="">Privacy Policy</a>
        <a (click)="logout()">Log out</a>
    </div>
</header>