@use '../../../../styles/mixins' as *;
@use '../../../../styles/variables' as *;

.list-wrapper {
    @include column;
    width: 272px;
    max-height: 715px;
    background-color: #f1f2f4;
    border: 1px solid $border-color;
    border-radius: 10px;
    box-shadow: $shadow;
    padding: 8px;
    gap: 10px;
    span {
        font-size: 16px;
        font-weight: 600;
        margin: 8px 12px;
        cursor: pointer;
    }
    .task-wrapper {
        @include column-start;
        width: 100%;
        padding: 1px;
        border-radius: 10px;
        overflow: hidden;
        overflow-x: hidden;
        overflow-y: auto;
        gap: 10px;
        &::-webkit-scrollbar {
            display: none;
        }
        
    }
}