@use '../../../../../styles/mixins' as *;
@use '../../../../../styles/variables' as *;

.date-wrapper {
    @include column-start;
    gap: 5px;
    span {
        font-size: 14px;
        font-weight: 600;
    }
    .choosen-date {
        @include center;
        color: #000;
        font-size: 14px;
        background-color: #091E420F;
        border-radius: 10px;
        padding: 6px 12px;
        cursor: pointer;
        &:hover {
            background-color: #091E4224;
        }
    }
}