@use '../../../../styles/mixins' as *;
@use '../../../../styles/variables' as *;

.contacts-list {
    @include column-align;
    width: 100%;
    height: 100%;
    cursor: pointer;
    .sort {
        @include column-center;
        width: 100%;
        .initial-letter {
            width: 100%;
            padding: 17px 36px;
        }
        .underline {
            background-color: $border-color;
            width: 100%;
            height: 2px;
            margin: 8px 0;
        }
        
    }
}

@media (max-width: 1024px) {
    .contacts-list {
        position: unset;
        padding: 24px;
    }
} 