@use '../../../../styles/mixins' as *;
@use '../../../../styles/variables' as *;

.overlay {
    position: fixed;
    @include center;
    height: 100vh;
    width: 100vw;
    background-color: $overlay;
    z-index: 1;
    .success-popup {
        animation: fadeInPopup 0.8s ease forwards;
        &.visible {
            opacity: 1;
            animation: fadeInPopup 0.4s ease forwards;
        }
        span {
            width: 262px;
            height: 24px;
        }
    }
}

@keyframes fadeInPopup {
    0% {
        opacity: 0;
        transform: translateY(450px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}