@use '../../../styles/mixins' as *;
@use '../../../styles/variables' as *;

.contacts-wrapper {
    @include column-align;
    width: 456px;
    height: 100%;
    background-color: $white;
    box-shadow: $shadow-contacts;
    overflow-y: auto;
    .button-wrapper {
        @include center;
        width: 100%;
        height: 101px;
        button {
            width: 352px;
            padding: 12px 0;
            gap: 16px;
        }
    }
    ::-webkit-scrollbar {
        width: 6px;
    }
    ::-webkit-scrollbar-thumb {
        height: 53px;
        background-color: $footer-text; 
        border-radius: 3px;
    }
}

section {
    position: relative;
    @include column;
    width: auto;
    height: fit-content;
    top: 110px;
    left: 65px;
    gap: 30px;
    .title {
        width: 569px;
    }
}