@use '../../../styles/mixins' as *;
@use '../../../styles/variables' as *;

.contacts-wrapper {
    @include column-align;
    flex: 0 1 40%;
    max-width: 456px;
    height: 100%;
    background-color: $white;
    box-shadow: $shadow-hover;
    overflow-y: scroll;
    overflow-x: hidden;
    .button-wrapper {
        @include center;
        width: 100%;
        min-height: 101px;
        background-color: $white;
        z-index: 1;
        button {
            width: 80%;
            padding: 12px 0;
            gap: 16px;
        }
    }
}

section {
    position: relative;
    @include column-align;
    flex: 1;
    width: calc(100% - 456px);
    width: 60%;
    padding: 110px 25px 25px;
    gap: 30px;
    .header-section {
        @include center-start;
        width: 100%;
        .title {
            @include space-between;
            max-width: 569px;
            height: 73px;
            width: 100%;
            .separate {
                background-color: $hover;
                width: 3px;
                height: 100%
            }
            h1 {
                font-size: clamp(32px, 5vw, 61px);
            }
            span {
                font-size: clamp(14px, 2vw, 27px);
            }
        }
        .back {
            @include center;
            width: 32px;
            height: 32px;
            cursor: pointer;
        }
    }
    .options-btn {
        position: absolute;
        border-radius: 50%;
        padding: 12px;
        width: 56px;
        height: 56px;
        bottom: 25px;
        right: 25px;
        box-shadow: $shadow-hover;
        .img-wrapper {
            @include center;
            width: 32px;
            height: 32px;
        }
    }
}

.underline {
    display: none;
}

.overlay {
    position: fixed;
    @include center;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    background-color: $overlay;
    z-index: 1;
}

@media (max-width: 1024px) {
    .contacts-wrapper {
        width: 100%;
        max-width: none;
        flex: none;
        box-shadow: 4px 0px 6px 0px #00000014;
        .button-wrapper {
            position: absolute;
            min-height: unset;
            width: auto;
            bottom: 25px;
            right: 25px;
            background-color: unset;
            button {
                width: 56px;
                height: 56px;
                padding: 12px;
                border-radius: 50%;
                box-shadow: $shadow-hover;
                span {
                    display: none;
                }
            }
        }
    }
    section {
        position: fixed;
        width: 100%;
        height: calc(100% - 160px);
        padding: 48px 25px 25px;
        .header-section {
            @include space-start;
            .title {
                @include column-center-start;
                height: auto;
                width: unset;
                max-width: unset;
                gap: 16px;
                h1 {
                    font-size: 47px;
                }
                span {
                    font-size: 20px;
                }
                .separate {
                    display: none;
                }
                .underline {
                    display: block;
                }
            }
        }
        .dropdown-menu {
        position: absolute;
        @include column;
        right: 25px;
        bottom: 20px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        border-bottom-left-radius: 20px;
        padding: 10px;
        background-color: $white;
        box-shadow: $shadow-hover;
        opacity: 0;
        visibility: hidden;
        transform: translateX(40px);
        transition: all 0.3s ease;
        z-index: 1;
        &.visible {
            opacity: 1;
            visibility: visible;
            transform: translateX(0);
        }
        .hide {
            display: none;
        }
        .option-btn {
            @include center-start;
            background-color: unset;
            color: black;
            font-size: 16px;
            font-weight: 400;
            width: 96px;
            height: 40px;
            border: none;
            border-radius: unset;
            padding: unset;
            transition: color 0.2s ease-in-out;
            gap: 8px;
            cursor: pointer;
            .img-wrapper {
                @include center;
                height: 24px;
                width: 24px;
                position: relative;
                img {
                    position: absolute;
                    transition: opacity 0.3s ease-in-out;
                }
                .icon-default {
                    opacity: 1;
                }
                .icon-hover {
                    opacity: 0;
                }
            }
            &:hover {
                color: $hover;
                box-shadow: none;
                .img-wrapper {
                    .icon-default {
                        opacity: 0;
                    }
                    .icon-hover {
                        opacity: 1;
                    }
                }
            }
        }
        }
    }
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-thumb {
    background-color: $footer-text; 
    border-radius: 3px;
}