<div class="overlay" *ngIf="showOverlay">
    <div class="overlay-card" [ngClass]="{ 'slide-out': isOverlaySlidingOut }">
        <div class="overlay-left">
            <img src="assets/images/logo.png" alt="Join Logo"/>
            <div class="headline">
                <h1>{{ isEditMode ? 'Edit contact' : 'Add contact' }}</h1>
                <span *ngIf="!isEditMode">Tasks are better with a team!</span>
                <div class="underline"></div>
            </div>
        </div>
        <div class="overlay-right">
            <div class="close" (click)="closeOverlay()">
                <img src="assets/images/close.png" alt="">
            </div>
            <div class="contact-wrapper">
                <form [formGroup]="contactForm" 
                (ngSubmit)="isEditMode ? updateContact() : createContact()" 
                class="contact-form">
                    <div class="avatar"
                    [ngStyle]="isEditMode && contactToEdit ? { 'background-color': contactToEdit.color || '#ccc' } : {}">
                        <ng-container *ngIf="isEditMode && contactToEdit">
                            <div class="avatar-initials">
                            {{ getInitials(contactToEdit.firstName, contactToEdit.lastName) }}
                            </div>
                        </ng-container>
                        <ng-container *ngIf="!isEditMode">
                            <img src="assets/images/person-hover.png" alt="Avatar" />
                        </ng-container>
                    </div>
                    <div class="contact-section">
                        <app-form-field
                            [form]="contactForm"
                            [formFields]="formFields"
                            [formHelper]="formHelper"
                            [blurredFields]="{}"
                            [passwordVisibility]="{}"
                            [ignoreNextBlur]="{ value: false }"
                            [customErrorMessages]="{}"
                            [submitted]="submitted"
                        ></app-form-field>
                        <app-contact-button-wrapper
                            [isEditMode]="isEditMode"
                            (cancel)="closeOverlay()"
                            (edit)="updateContact()"
                            (delete)="emitDelete()"
                            (create)="createContact()">
                        </app-contact-button-wrapper>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>