<div class="member-wrapper" 
    *ngIf="members.length > 0">
    <span class="title">Members</span>
    <div class="choosen-member">
        <div class="contact-wrapper">
            <div class="avatar"
                *ngFor="let member of members | slice:0:4"
                (click)="onMembersClick(); $event.stopPropagation()"
                [style.backgroundColor]="!member.profilePicture ? getMemberColor(member) : 'transparent'"
                [title]="member.firstName + ' ' + member.lastName">
                <img *ngIf="member.profilePicture" 
                    [src]="'https://join-qrpi.vercel.app/' + member.profilePicture" 
                    alt="{{ member.firstName }}">
                <ng-container *ngIf="!member.profilePicture">
                    {{ getInitials(member) }}
                </ng-container>
            </div>
        </div>
        <p class="rest" *ngIf="members.length > 4">
        +{{ members.length - 4 }}
        </p>
    </div>
</div>