@use '../../../shared/styles/form-styles.scss' as *;
@use '../../../../styles/variables' as *;
@use '../../../../styles/mixins' as *;

.confirmation-wrapper {
    @include column-center;
    gap: 20px;
    .message-wrapper {
        @include column-center;
        gap: 20px;
        span {
            text-align: center;
        }
    }
}