<app-auth-layout [showSignupLink]="false">
    <ng-container *ngIf="!emailSent; else confirmation">
        <app-auth-card [showBack]="true" [title]="'Reset your password'">
            <app-auth-form
            [formType]="'forgot'"
            [form]="form"
            [formFields]="formFields"
            [formHelper]="formHelper"
            [submitted]="submitted"
            [blurredFields]="blurredFields"
            [ignoreNextBlur]="ignoreNextBlur"
            [submitButtonText]="'Send E-Mail'"
            (formSubmit)="onSubmit()"
            >
            </app-auth-form>
        </app-auth-card>
    </ng-container>
    <ng-template #confirmation>
        <div class="confirmation-wrapper">
            <div class="headline">
                <h1>E-Mail sent</h1>
                <div class="underline"></div>
            </div>
            <div class="message-wrapper">
                <span>
                    If an account exists for 
                    <strong>{{ emailSentTo }}</strong>, <br>
                    we’ve sent you an email
                    with a link to reset your password.
                </span>
                <span>
                    Didn’t get the email? <br>
                    Make sure to check your spam folder or try again in a few minutes.
                </span>
                <button (click)="goToLogIn()">Back to Log In</button>
            </div>
        </div>
    </ng-template>
</app-auth-layout>