@use './styles/variables' as *;
@use './styles/mixins' as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $font-family;
    background-color: $body;
}

h1 {
    color: #000;
    font-size: 61px;
    font-weight: 700;
    line-height: 1.2
}

span {
    font-size: 20px;
}

input {
    @include space-between;
    color: #000;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.2;
    border: $border;
    border-radius: $border-radius;
    border-color: $border-color;
    padding: 12px 16px;
    &::placeholder {
        color: $border-color;
    }
    &:focus {
        outline: none;
        border-color: $hover
    }
}

button {
    @include center;
    background-color: $primary;
    color: #fff;
    font-family: $font-family;
    font-size: 21px;
    font-weight: 700;
    border: $border;
    border-radius: $border-radius;
    border-color: $primary;
    padding: 15px 24px;
    gap: 4px;
    cursor: pointer;
    .img {
        @include center;
        height: 24px;
        width: 24px;
        background-color: transparent;
        img {
            background-color: transparent;
        }
    }
    &:hover {
        background-color: $hover;
        border-color: $hover;
        box-shadow: $shadow-hover;
    }
}

textarea {
    color: #000;
    font-size: 20px;
    font-weight: 400;
    border: $border;
    border-radius: $border-radius;
    border-color: $border-color;
    padding: 16px;
    &::placeholder {
        color: $border-color;
    }
    &:focus {
        outline: none;
    }
}

a {
    text-decoration: none;
    color: $hover;
    &:hover {
        border-bottom: 1px solid $hover;
    }
}

.secondary-btn {
    background-color: transparent;
    color: $primary;
    font-weight: 700;
    &:hover {
        color: $hover;
        background-color: transparent;
        border-color: $hover;
        box-shadow: $shadow-hover;
        .img img {
            content: url('assets/images/close-hover.png');
        }
    }
}

.error {
    color: $error;
    font-size: 13px;
    font-weight: 400;
}

app-signup, app-login {
    @include center;
    height: 100vh;
}


@media (max-width: 768px) {
    h1 {
        font-size: 47px;
    }
    button {
        font-size: 16px;
    }
} 