@use '../../../../styles/mixins' as *;
@use '../../../../styles/variables' as *;

.success-popup {
  position: absolute;
  bottom: 115px;
  left: calc(456px + 65px);
  animation: slideIn 0.8s ease forwards;
  &.slide-out {
    animation: slideOut 0.4s ease forwards;
  }
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideOut {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(100%);
  }
}

@keyframes slideInMobile {
  from {
    opacity: 0;
    bottom: -100px;
  }
  to {
    opacity: 1;
    bottom: 15%;
  }
}

@keyframes slideOutMobile {
  from {
    opacity: 1;
    bottom: 15%;
  }
  to {
    opacity: 0;
    bottom: -100px;
  }
}

@media (max-width: 1024px) {
  .success-popup {
    left: 50%;
    bottom: 15%;
    width: max-content;
    transform: translateX(-50%);
    animation: slideInMobile 0.8s ease forwards;
    span {
      font-size: 20px;
    }
    &.slide-out {
      animation: slideOutMobile 0.4s ease forwards;
    }
  }
}