<img class="logo" src="assets/images/logo-dark.png" alt="Logo">
<div class="card">
    <ng-container *ngIf="!emailSent; else confirmation">
        <a (click)="goBack()" class="back">
            <img src="assets/images/back.png" alt="Back">
        </a>
        <div class="headline">
            <h1 class="forgot-text">Reset <br> your password</h1>
            <div class="underline"></div>
            <span>Please enter your e-mail address.</span>
        </div>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div *ngFor="let field of formFields" class="form-wrapper">
                <div class="form-group">
                    <input
                        #passwordInput
                        [type]="getInputType(field)"
                        [placeholder]="field.placeholder"
                        [formControlName]="getControlName(field.placeholder)"
                        (blur)="onBlur(getControlName(field.placeholder))"
                        [ngClass]="{
                            'has-error': hasError(getControlName(field.placeholder))
                        }"
                    />
                    <div
                        class="form-icon"
                        (mousedown)="$event.preventDefault()"
                        [ngStyle]="{
                            cursor: 'default'
                        }"
                    >
                        <img
                            [src]="'assets/images/' + field.icon"
                            [alt]="field.alt"
                        />
                    </div>
                </div>
                <div
                    class="errortext"
                    *ngIf="getErrorMessage(getControlName(field.placeholder))"
                    [class.visible]="getErrorMessage(getControlName(field.placeholder))"
                >
                    <p class="error">
                        {{ getErrorMessage(getControlName(field.placeholder)) }}
                    </p>
                </div>
            </div>
            <div class="button-wrapper mail-wrapper">
                <button type="submit" [disabled]="form.invalid && submitted">
                    Send E-Mail
                </button>
            </div>
        </form>
    </ng-container>
    <ng-template #confirmation>
        <div class="confirmation-wrapper">
            <div class="headline">
                <h1>E-Mail sent</h1>
                <div class="underline"></div>
            </div>
            <div class="message-wrapper">
                <span>
                    If an account exists for 
                    <strong>{{ emailSentTo }}</strong>, <br>
                    we’ve sent you an email
                    with a link to reset your password.
                </span>
                <span>
                    Didn’t get the email? <br>
                    Make sure to check your spam folder or try again in a few minutes.
                </span>
                <button (click)="goToLogIn()">Back to Log In</button>
            </div>
        </div>
    </ng-template>
</div>
<footer>
    <a href="">Privacy Policy</a>
    <a href="">Legal notice</a>
</footer>