@use '../../../../styles/mixins' as *;
@use '../../../../styles/variables' as *;

form {
    @include column-center;
    width: 100%;
    .mail-wrapper {
        justify-content: end !important;
        width: 100%;
    }
    .button-wrapper {
        @include center;
        gap: 30px;
    }
    .forgot-wrapper {
        margin-bottom: 15px;
        a {
            cursor: pointer;
        }
    }
    .auth-wrapper {
        @include column-center;
        width: 100%;
        margin-bottom: 24px;
        gap: 20px;
        .divider {
            @include center;
            width: 100%;
            &::before, 
            &::after {
                flex: 1;
                content: "";
                padding: 1px;
                background-color: $hover;
                margin: 5px;
            }
        }
        .auth-btn {
            @include center;
            padding: 10px 18px;
            margin-top: 0px !important;
            gap: 30px;
            img {
                height: 30px;
                width: 30px;
            }
            &:hover {
                background-color: $primary;
                border: 1px solid $primary;
                box-shadow: none;
            }
        }
    }
    .pricacy-wrapper {
        @include column-center;
        gap: 8px;
        .form-privacy {
            @include center;
            height: 24px;
            .checkbox-icon {
                display: flex;
                justify-content: flex-end;
                width: 24px;
                cursor: pointer;
                .custom-checkbox {
                    border: none;
                    background: url('/assets/images/unchecked.png') no-repeat center center;
                    appearance: none;
                    cursor: pointer;
                    &:checked {
                        background-image: url('/assets/images/checked.png');
                    }
                }
            }
        }
    }
    button {
        margin-top: 30px;
    }
}

@media (max-width: 1024px) {
    form {
        .mail-wrapper {
            justify-content: end !important;
            flex-direction: unset !important;
            width: 100%;
        }
        .auth-wrapper {
            .auth-btn {
                width: 100%;
                img {
                    width: 25px;
                    height: 25px;
                }
            }
        }
    }
    .form-privacy span {
        font-size: 15px;
    }
}

@media (max-width: 360px) {
    .auth-btn {
        font-size: 12px;
    }
}