<div class="edit-task-overlay"
    *ngIf="selectedTaskForEdit"
    [ngClass]="{'is-visible': isModalVisible}"
    (click)="closeEditMode()">
    <app-add-task
        [taskToEdit]="selectedTaskForEdit"
        (taskSavedOrCancelled)="onTaskSaved()"
        (click)="$event.stopPropagation()">
    </app-add-task>
</div>
<div class="board-wrapper">
    <app-task-list
        *ngFor="let list of taskLists"
        [title]="list.title"
        [tasks]="list.tasks"
        (editTaskRequest)="openTaskForEdit($event)"
        (addTaskRequest)="addTask($event, list.status)">
    </app-task-list>
    <button class="add-list"
    *ngIf="!isAddListFormVisible"
    (click)="toggleAddListForm()">
        <img src="assets/images/plus-active.png" alt="Add Task">
        <span>Add a Task</span>
    </button>
    <div class="add-task-list"
    *ngIf="isAddListFormVisible">
        <div class="list-titel">
        <input 
            placeholder="Enter list title..."
            [(ngModel)]="newListName"
            (keyup.enter)="addNewList()">
        <div class="button-wrapper">
            <button (click)="addNewList()">Add Task</button>
            <button class="close"
            (click)="toggleAddListForm()">
                <img src="assets/images/close.png" alt="Close">
            </button>
        </div>
    </div>
    </div>
</div>
<app-background></app-background>