@use '../../../styles/mixins' as *;
@use '../../../styles/variables' as *;

.list-wrapper {
    @include column;
    width: 272px;
    max-height: 715px;
    background-color: #f1f2f4;
    border: 1px solid $border-color;
    border-radius: 10px;
    box-shadow: $shadow;
    padding: 8px;
    gap: 10px;
    span {
        font-size: 16px;
        font-weight: 600;
        margin: 8px 12px;
        cursor: pointer;
    }
    .task-wrapper {
        @include column-start;
        width: 100%;
        padding: 1px;
        border-radius: 10px;
        overflow: hidden;
        overflow-x: hidden;
        overflow-y: auto;
        gap: 10px;
        &::-webkit-scrollbar {
            display: none;
        }
        .task {
            position: relative;
            @include column-align;
            width: 100%;
            min-height: fit-content;
            background-color: $white;
            border: 1px solid $border-color;
            border-radius: 10px;
            box-shadow: $shadow;
            overflow: hidden;
            transition: all 0.1s ease-in-out;
            cursor: pointer;
            header {
                position: relative !important;
                all: unset;
                width: 100%;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                &.image-cover {
                    height: 160px;
                }
                &.color-cover {
                    height: 36px;
                }
                &.image-cover .titel {
                    background: linear-gradient(180deg, rgb(175 175 175 / 10%) 20%, #ffffff 100%);
                }
                .titel {
                    position: absolute;
                    @include start;
                    width: 100%;
                    bottom: 0;
                    font-weight: 600;
                    padding:  8px 12px;
                    background: none;
                    overflow: visible;
                    button {
                        all: unset;
                        height: 16px;
                        width: 16px;
                        border-radius: 50%;
                        border: 1px solid $black;
                        transform: translateX(-30px);
                        transition: transform 450ms ease, opacity 900ms ease;
                        opacity: 0;
                    }
                    span {
                        font-size: 14px;
                        transform: translateX(-18px);
                        transition: transform 450ms ease;
                        margin: 0;
                    }
                }
            }
            /* .titel {
                position: relative;
                @include start;
                width: 100%;
                font-weight: 600;
                padding:  8px 12px;
                background: none;
                button {
                    all: unset;
                    height: 16px;
                    width: 16px;
                    border-radius: 50%;
                    border: 1px solid $black;
                    transform: translateX(-30px);
                    transition: transform 450ms ease, opacity 900ms ease;
                    opacity: 0;
                }
                span {
                    font-size: 14px;
                    transform: translateX(-18px);
                    transition: transform 450ms ease;
                    margin: 0;
                }
            } */
            section {
                @include column-align;
                width: 100%;
                padding: 8px 12px 4px;
                gap: 10px;
                .labels {
                    display: grid;
                    grid-template-columns: repeat(5, 1fr);
                    width: 100%;
                    margin-bottom: 4px;
                    gap: 8px;
                    span {
                        height: 8px;
                        font-size: 11px;
                        font-weight: 600;
                        border-radius: 10px;
                        margin: 0;
                        transition: all 0.2s ease-in-out;
                        &:hover {
                            filter: brightness(.85);
                        }
                        &.active {
                            @include center;
                            width: auto;
                            height: 18px;
                            padding: 4px 8px;
                            &:hover {
                                filter: brightness(1);
                            }
                        }
                    }
                }
                .wrapper {
                    @include center-start;
                    width: 100%;
                    gap: 20px;
                    span {
                        font-size: 12px;
                        margin: 0;
                    }
                    .date {
                        @include center;
                        gap: 5px;
                    }
                    img {
                        width: 16px;
                        height: 16px;
                    }
                }
                .assigned-contacts {
                    @include start;
                    width: 100%;
                    padding-left: 8px;
                    .contact-avatar {
                        @include center;
                        height: 24px;
                        width: 24px;
                        color: #FFF;
                        font-size: 11px;
                        border: unset;
                        border-radius: 50%;
                        margin-left: -8px;
                        box-shadow: 0 0 0 1px #ffffff, 0 0 0 2px #e1e1e1;
                        cursor: pointer;
                        span {
                            margin: 0;
                        }
                    }
                }
            }
            &:hover {
                border-color: #388bff;
                box-shadow: 0px 0px 0px 1px #388bff;
                header .titel button {
                    opacity: 1;
                    transform: translateX(0);
                }
                header .titel span {
                    transform: translateX(8px);
                    margin: 0;
                }
                .titel button {
                    opacity: 1;
                    transform: translateX(0);
                }
                .titel span {
                    transform: translateX(8px);
                    margin: 0;
                }
            }
        }
    }
    .add-task {
        all: unset;
        @include center-start;
        border-radius: 10px;
        padding: 6px 12px;
        transition: all 0.1s ease-in-out;
        gap: 8px;
        cursor: pointer;
        img {
            height: 12px;
            width: 12px;
        }
        span {
            font-size: 14px;
            margin: 0;
        }
        &:hover {
            background-color: #091E4224;
        }
    }
}

.task-titel {
    @include column;
    width: 100%;
    gap: 10px;
    input {
        width: 100%;
        height: 36px;
        font-size: 12px;
        padding: 8px 12px;
        border-radius:  8px;
        box-shadow: $shadow;
        &:focus {
            border: 2px solid #388bff;
        }
    }
    .button-wrapper {
        @include start;
        width: 100%;
        gap: 10px;
        button {
            font-size: 14px;
            padding: 6px 12px;
            gap: 5px;
        }
        .close {
            background-color: unset;
            border-color: unset;
            border: unset;
            border-radius: unset;
            padding: unset;
            &:hover {
                background-color: #091e4224;
                border-radius: 8px;
                box-shadow: none;
            }
        }
    }
}

.edit-task-overlay {
    position: fixed;
    @include center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background:  #091e427d;
    backdrop-filter: blur(2px);
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 400ms, opacity 300ms ease-in 100ms;
    z-index: 5;
    &.is-visible {
        visibility: visible;
        opacity: 1;
        transition: visibility 0s, opacity 0s;
    app-add-task {
        transform: translateY(0);
        transition: transform 400ms ease-out;
    }
}
}

::ng-deep .edit-task-overlay > app-add-task {
    transform: translateY(100vh);
    transition: transform 400ms ease-out;
}

.dropdown-content {
    position: fixed;
    @include column;
    bottom: 15px;
    right: 50px;
    width: auto;
    background-color: $white;
    border-radius: 10px;
    border: 1px solid $border-color;
    z-index: 2;
    .menu-header {
        @include center;
        font-size: 14px;
        font-weight: 600;
        padding: 4px 8px;
        gap: 15px;
        p {
            @include center;
            width: 100%;
            height: 32px;
        }
        .close {
            background-color: unset;
            border-color: unset;
            border: unset;
            border-radius: unset;
            padding: unset;
            &:hover {
                background-color: $close-menu-hover;
                border-radius: 8px;
                box-shadow: none;
            }
        }
    }
}