<div class="overlay" *ngIf="showOverlay">
    <div class="overlay-card" [ngClass]="{ 'slide-out': isOverlaySlidingOut }">
        <div class="overlay-left">
            <div class="close" (click)="closeOverlay()">
                <img src="assets/images/close-white.png" alt="">
            </div>
            <img class="logo" src="assets/images/logo.png" alt="Join Logo"/>
            <div class="headline">
                <h1>{{ isEditMode ? 'Edit contact' : 'Add contact' }}</h1>
                <span *ngIf="!isEditMode">Tasks are better with a team!</span>
                <div class="underline"></div>
            </div>
        </div>
        <div class="overlay-right">
            <div class="close" (click)="closeOverlay()">
                <img src="assets/images/close.png" alt="">
            </div>
            <div class="contact-wrapper">
                <form [formGroup]="contactForm" 
                (ngSubmit)="isEditMode ? updateContact() : createContact()" 
                class="contact-form">
                    <input type="file" #fileInput hidden (change)="onFileSelected($event)" accept="image/*">
                    <div class="avatar"
                        (click)="fileInput.click()"
                        [ngStyle]="!hasImage() ? { 'background-color': contactToEdit?.color || newContactColor } : {}">
                        <img *ngIf="imagePreviewUrl" [src]="imagePreviewUrl" alt="Avatar Preview">
                        <img *ngIf="!imagePreviewUrl && contactToEdit?.profilePicture" 
                            [src]="'https://join-qrpi.vercel.app/' + contactToEdit.profilePicture" 
                            alt="Contact Avatar">
                        <div *ngIf="!hasImage() && isEditMode && contactToEdit" class="avatar-initials">
                            {{ getInitials(contactToEdit.firstName, contactToEdit.lastName) }}
                        </div>
                        <img *ngIf="!hasImage() && !isEditMode" src="assets/images/person-hover.png" alt="Avatar Icon" />
                    </div>
                    <div class="contact-section">
                        <app-form-field
                            [form]="contactForm"
                            [formFields]="formFields"
                            [formHelper]="formHelper"
                            [blurredFields]="{}"
                            [passwordVisibility]="{}"
                            [ignoreNextBlur]="{ value: false }"
                            [customErrorMessages]="{}"
                            [submitted]="submitted"
                        ></app-form-field>
                        <app-contact-button-wrapper
                            [isEditMode]="isEditMode"
                            (cancel)="closeOverlay()"
                            (edit)="updateContact()"
                            (delete)="emitDelete()"
                            (create)="createContact()">
                        </app-contact-button-wrapper>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>