@use '../../../../../styles/mixins' as *;
@use '../../../../../styles/variables' as *;

.task {
    position: relative;
    @include column-align;
    width: 100%;
    min-height: fit-content;
    background-color: $white;
    border: 1px solid $border-color;
    border-radius: 10px;
    box-shadow: $shadow;
    overflow: visible !important;
    transition: all 0.1s ease-in-out;
    cursor: pointer;
    header {
        position: relative !important;
        all: unset;
        width: 100%;
        min-height: 45px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        &.image-cover {
            height: 160px;
        }
        &.color-cover {
            height: 36px;
        }
        &.image-cover .titel {
            background: linear-gradient(180deg, #ffffff00 0%, #ffffff 75%);
        }
        .titel {
            position: absolute;
            @include start;
            width: 100%;
            bottom: 0;
            font-weight: 600;
            padding: 12px;
            background: none;
            overflow: visible;
            /* button {
                all: unset;
                height: 16px;
                width: 16px;
                border-radius: 50%;
                border: 1px solid $black;
                transform: translateX(-30px);
                transition: transform 450ms ease, opacity 900ms ease;
                opacity: 0;
            } */
            span {
                font-size: 14px;
                /* transform: translateX(-18px);
                transition: transform 450ms ease; */
                margin: 0;
            }
        }
        .more-options-btn {
            all: unset;
            @include center;
            position: absolute;
            top: 9px;
            right: 11px;
            padding: 2px;
            border-radius: 8px;
            transition: opacity 0.2s ease-in-out;
            opacity: 0;
            cursor: pointer;
            &:hover {
                box-shadow: none;
                background-color: #ffffff50;
            }
            &.active {
                opacity: 1;
                background-color: $primary;
            }
        }
        &:hover .more-options-btn {
            opacity: 1;
        }
    }
    section {
        @include column-align;
        width: 100%;
        padding: 8px 12px;
        gap: 10px;
        .labels {
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            width: 100%;
            margin-bottom: 4px;
            gap: 4px;
            span {
                height: 8px;
                font-size: 11px;
                font-weight: 600;
                border-radius: 10px;
                margin: 0;
                transition: all 0.2s ease-in-out;
                &:hover {
                    filter: brightness(.85);
                }
                &.active {
                    @include center;
                    /* width: max-content; */
                    height: 18px;
                    padding: 4px 8px;
                    &:hover {
                        filter: brightness(1);
                    }
                }
            }
        }
        .wrapper {
            @include center-start;
            width: 100%;
            gap: 20px;
            span {
                font-size: 12px;
                margin: 0;
            }
            .date {
                @include center;
                gap: 5px;
            }
            img {
                width: 16px;
                height: 16px;
            }
        }
        .assigned-contacts {
            @include start;
            width: 100%;
            padding-left: 8px;
            .contact-avatar {
                @include center;
                height: 24px;
                width: 24px;
                color: #FFF;
                font-size: 11px;
                border: unset;
                border-radius: 50%;
                margin-left: -8px;
                box-shadow: 0 0 0 1px #ffffff, 0 0 0 2px #e1e1e1;
                overflow: hidden;
                cursor: pointer;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
                span {
                    margin: 0;
                }
            }
        }
    }
    &:hover {
        border-color: #388bff;
        box-shadow: 0px 0px 0px 1px #388bff;
    }
}

.task-dropdown {
    position: absolute;
    @include column;
    top: 30px;
    right: -200px;
    width: 230px;
    background-color: #FFF;
    border-radius: 10px;
    border: 1px solid #D1D1D1;
    padding: 6px 8px;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1019607843);
    overflow: hidden;
    z-index: 9999;
    transition: all 100ms ease-in-out;
    gap: 5px;
    .menu-header {
        @include space-between;
        width: 100%;
        p {
            width: 100%;
            font-size: 14px;
            font-weight: 600;
            text-align: center;
        }
        button {
            all: unset;
            padding: 2px 4px;
            transition: all 100ms ease-in-out;
            img {
                height: 16px;
            }
            &:hover {
                border-radius: 8px;
                box-shadow: none;
                background-color: #dcdfe4;
            }
        }
    }
    .content {
        @include space-between;
        width: 100%;
        border-radius: 5px;
        padding: 4px 6px;
        transition: all 100ms ease-in-out;
        cursor: pointer;
        span {
            font-size: 12px;
            font-weight: 600;
            cursor: pointer;
        }
        img {
            width: 14px;
            height: 14px;
        }
        &:hover {
            background-color: #dcdfe4;
        }
    }
    .list {
        @include space-between;
        width: 100%;
        border: 1px solid #D1D1D1;
        border-radius: 6px;
        padding: 6px 8px;
        transition: all 100ms ease-in-out;
        .selection {
            width: 100%;
            height: 100%;
            font-size: 12px;
        }
        .img-wrapper {
            @include center;
            height: 18px;
            width: 18px;
        }
        &.focused  {
            border: 1px solid #0c66e4;
        }
        &:hover {
            background-color: #f1f2f4;
        }
    }
    .list-dropdown {
        position: relative;
        @include column;
        width: 100%;
        border: 1px solid #D1D1D1;
        border-radius: 6px;
        padding: 6px 0;
        overflow: hidden;
        transition: all 100ms ease-in;
        span {
            font-size: 12px;
            padding: 6px 8px;
            border-left: 2px solid transparent;
            cursor: pointer;
            &:hover {
                border-left: 2px solid #0c66e4;
                background-color: #f1f2f4;
            }
            &.active {
                color: #0c66e4;
                background-color: #e9f2ff;
                border-left: 2px solid #0c66e4;
                &:hover {
                    background-color: #cce0ff;
                }
            }
        }
    }
    p {
        font-size: 12px;
        font-weight: 700;
    }
    button {
        width: fit-content;
        font-size: 14px;
        padding: 6px 12px;
        gap: 5px;
        .img-wrapper {
            @include center;
            height: 18px;
            width: 18px;
            img {
                height: 100%;
            }
        }
    }
}

@media (max-width: 768px) {
    .task header .titel span {
        font-size: 22px;
    }
    .task section {
        position: relative;
        top: -1px;
        background-color: $white;
    }
    .task section .labels {
        gap: 10px;
        span {
            font-size: 14px;
            font-weight: 700;
            &.active {
                padding: 10px;
            } 
        }
    }
    .task section .wrapper, .date, .description, .checklist {
        img {
            height: 18px;
            width: 18px;
        }
        span {
            font-size: 14px;
        }
    }
    .task section .wrapper .checklist {
        display: flex;
        gap: 5px;
    }
    .task section .assigned-contacts .contact-avatar {
        height: 38px;
        width: 38px;
    }
    .task-dropdown {
        top: 32px;
        right: -5px;
        p {
            font-size: 14px;
        }
        .menu-header p {
            font-size: 16px;
        }
        .menu-header button img {
            height: 22px;
        }
        .content span {
            font-size: 14px;
        }
        .content img {
            width: 16px;
            height: 16px;
        }
        .list .selection {
            font-size: 14px;
        }
        .list-dropdown span {
            font-size: 14px;
        }
    }
    .task header .more-options-btn {
        opacity: 1;
    }
}