<div class="button-wrapper">
    <button 
        *ngIf="isEditMode"
        type="button" 
        class="secondary-btn" 
        (click)="delete.emit()">
        Delete
        <div class="img-wrapper">
          <img class="icon-default" src="assets/images/delete.png" alt="Delete">
          <img class="icon-hover" src="assets/images/delete-hover.png" alt="Delete Hover">
        </div>
    </button>
    <button 
        *ngIf="!isEditMode"
        type="button" 
        class="secondary-btn" 
        (click)="cancel.emit()">
        Cancel
        <div class="img-wrapper">
        <img class="icon-default" src="assets/images/close.png" alt="Cancel">
        <img class="icon-hover" src="assets/images/close-hover.png" alt="Cancel Hover">
        </div>
    </button>
    <button
      *ngIf="!isEditMode"
      type="submit" 
      (click)="create.emit()">
      Create contact
      <div class="img">
        <img src="assets/images/check-hover.png" alt="Submit">
      </div>
    </button>
    <button
      *ngIf="isEditMode"
      type="submit" 
      (click)="edit.emit()">
      Save
      <div class="img">
        <img src="assets/images/check-hover.png" alt="Submit">
      </div>
    </button>
</div>