@use '../../../../styles/mixins' as *;
@use '../../../../styles/variables' as *;

.button-wrapper {
    @include center-start;
    width: 364px;
    gap: 24px;
    button {
        padding: 16px;
    }
}


@media (max-width: 1024px) {
    .button-wrapper {
        @include center;
        width: auto;
        button {
            font-size: 21px;
        }
        .mobile-none {
            display: none;
        }
    }
}