<button 
 #trigger
    class="secondary-btn options-btn" 
    [ngClass]="{ 'active': isOpen }"
    (click)="toggle()">
    <div class="img-wrapper" *ngIf="iconSrc">
        <img [src]="isOpen && iconActiveSrc ? iconActiveSrc : iconSrc" [alt]="title + ' Icon'">
    </div>
    {{ title }}
</button>
<ng-template
  cdkConnectedOverlay
  [cdkConnectedOverlayOrigin]="trigger"
  [cdkConnectedOverlayOpen]="isOpen"
  (overlayOutsideClick)="close()">
<div class="dropdown-content" 
[@fadeInOut]
*ngIf="isOpen">
    <div class="menu-header">
        <button class="back"
            *ngIf="showBackButton"
            type="button"
            (click)="goBackToList($event)">
            <img src="assets/images/go-back.png" alt="Back">
        </button>
        <p>{{ headerTitle || title }}</p>
        <button class="close"
        type="button" 
        (click)="close()">
            <img src="assets/images/close.png" alt="">
        </button>
    </div>
    <ng-content></ng-content>
</div>
</ng-template>